// Define variables for your color scheme

// For example:
// $red: #FD1015;
// $blue: #167FFB;
// $yellow: #FFC65A;
// $orange: #E67E22;
// $green: #1EDD88;
// $gray: #0E0000;
// $light-gray: #F4F4F4;

//-----4.6 references start---------> https://github.com/twbs/bootstrap

// scss-docs-start color-variables
  // $blue:    #0d6efd !default;
  $indigo:  #6610f2 !default;
  // $purple:  #6f42c1 !default;
  // $pink:    #d63384 !default;
  // $red:     #dc3545 !default;
  // $orange:  #fd7e14 !default;
  // $yellow:  #ffc107 !default;
  // $green:   #198754 !default;
  // $teal:    #20c997 !default;
  // $cyan:    #0dcaf0 !default;
// scss-docs-end color-variables

// scss-docs-start colors-map
  $colors: (
  //   "blue":       $blue,
    "indigo":     $indigo,
  //   "purple":     $purple,
  //   "pink":       $pink,
  //   "red":        $red,
  //   "orange":     $orange,
  //   "yellow":     $yellow,
  //   "green":      $green,
  //   "teal":       $teal,
  //   "cyan":       $cyan,
  //   "white":      $white,
  //   "gray":       $gray-600,
  //   "gray-dark":  $gray-800
  ) !default;
// scss-docs-end colors-map

// scss-docs-start theme-color-variables
  // $primary:       $blue !default;
  // $secondary:     $gray-600 !default;
  // $success:       $green !default;
  // $info:          $cyan !default;
  // $warning:       $yellow !default;
  // $danger:        $red !default;
  // $light:         $gray-100 !default;
  // $dark:          $gray-900 !default;
// scss-docs-end theme-color-variables

// <-----4.6 references end--------- 